* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #a8bec9;
    
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #072533;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    text-align: center;
}

hr {
    font-weight: bold;
    height: 3px;
    background: black;
    margin-bottom: 10px;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game button {
    width: 100px;
    height: 100px;
    margin: 7px;
    cursor: pointer;
    font-size: 50px;
    background: #1f3540;
    border-radius: 13px;
    box-shadow: 0px 5px 0px #0c151a;
}
